.main-div-intro{
    height: 1000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-logo-image{
    width: 15%;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(27,223,23,1) 100%);
    border-radius: 50%;
    box-shadow: 1px 2px 10px black;
}
.div-role {
    margin-bottom: 3%;
    font-size: 50px;
    font-weight: bold;
}
.main-name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 2%;
}

.intro-des{
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 60%;
}
.des{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.intro-div-1{
        margin-top: 15%;
}
.intro-logo-image-1{
    width: 50%;
    height: fit-content;
    border-radius: 25px;
    box-shadow: 0px 30px 20px -20px rgba(0,0,0,0.45);
}
.intro-logo-image-2{
    width: 0;
}
.intro-logo-mini-2{
    width: 10%;
    position: absolute;
    left: 5%;
    top: 40%;
}

.intro-logo-mini-1{
    width: 10%;
    position: absolute;
    right: 5%;
    bottom: 10%;
}
.intro-logo-mini-3{
    position: absolute;
    top: 15%;
    right: 5%;
    
    background-color: transparent;
    border-radius: 10%;
    box-shadow: 1px 1px 100px black;
}
.intro-logo-mini-4{
    position: absolute;
    bottom: 10%;
    left: 25%;
    z-index: 2;
}
.intro-logo-mini-6{
    position: absolute;
    top: 10%;
    right: 5%;
    background-color: transparent;
    border-radius: 10%;
    box-shadow: 1px 1px 100px black;
   
}
.intro-logo-mini-6{
    position: absolute;
    bottom: 30%;
    left: 5%;
    background-color: transparent;
    border-radius: 10%;
    box-shadow: 1px 1px 100px black;
}
@media screen  and (max-width: 768px) and (min-width: 425px){
    .main-div-intro{
        height: 900px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .intro-div-1{
        margin: 8%;
}
    .div-role {
        margin-bottom: 5%;
        font-size: 40px;
        font-weight: bold;
    }
    .intro-logo-image{
        width: 40%;
        background: radial-gradient(circle, rgba(232,193,60,1) 0%, rgba(27,223,23,1) 100%);
        border-radius: 50%;
        box-shadow: 1px 2px 10px black;
    }
    .intro-des{
        font-size: 18px;
        margin-bottom: 1%;
        margin-top: 1%;
        width: 100%;
    }
    .intro-logo-image-1{
        width: 0%;
        height: fit-content;
        margin-top: 10%;
        margin-bottom: 0;
        border-radius: 0;
        box-shadow: 0;
    }
    .intro-logo-image-2{
        width: 100%;
        height: fit-content;
        margin-top: 10%;
        margin-bottom: 0;
        border-radius: 0;
        box-shadow: 0;
    }
    .intro-logo-mini-2{
        width: 10%;
        position: absolute;
        left: 5%;
        top: 40%;
        width: 0;
    }
    
    .intro-logo-mini-1{
        width: 10%;
        position: absolute;
        right: 5%;
        bottom: 10%;
        width: 0;
    }
    .intro-logo-mini-3{
        position: absolute;
        top: 35%;
        right: 15%;
        z-index: 2;
        width: 0;
    }
    .intro-logo-mini-4{
        position: absolute;
        bottom: 10%;
        left: 25%;
        z-index: 2;
        width: 0;
    }
}
@media screen  and (max-width: 1024px) and (min-width: 768px){
    .main-div-intro{
        height: 1000px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .intro-logo-image{
        width: 20%;
        background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(27,223,23,1) 100%);
        border-radius: 50%;
        box-shadow: 1px 2px 10px black;
    }
    .div-role {
        margin-bottom: 3%;
        margin-top: 3%;
        font-size: 50px;
        font-weight: bold;
    }
    .main-name{
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 5%;
        margin-top: 4%;
    }
    
    .intro-des{
        font-size: 20px;
        margin-bottom: 2%;
        margin-top: 2%;
        width: 80%;
    }
    .des{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    }
    .intro-div-1{
            margin-top: 5%;
    }
    .intro-logo-image-1{
        width: 60%;
        height: fit-content;
        border-radius: 35px;
        box-shadow: 0px 25px 20px -20px rgba(0,0,0,0.45);
    }
    .intro-logo-image-2{
        width: 0;
    }
}